.main {
    margin: auto;
    background-image: url("https://img1.goodfon.ru/wallpaper/nbig/c/ed/background-triangles-black.jpg");
    background-attachment: fixed;
}

.main .container {
    padding-top: 30px;
    width: 90%;
    max-width: 100%;
    margin: auto;
}
.nav {
    background: #1f1f1f;
    color: #fffefe;
    box-shadow: 0 5px 10px #090808;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav .undent .site_logo {
    margin-right: auto;
    align-items: center;
}
.nav .infos {
    display: flex;
    margin-left: auto;
    align-items: center;

}
.header-info{
    padding: 17px;
}
.nav .logo {
    display: block;
    width: 250px;
    height: auto;
    margin: 20px 20px 20px 20px;
}

.for_slogan {
    align-items: center;
    margin: auto;
}

.nav .for_slogan .slogan {
    font-family: 'Times New Roman', Times, serif; /* Шрифт с засечками */
    font-style: italic; /* Курсивное начертание */
    font-size: xx-large;
    opacity: 20%;
}

.underheader {
    color: #fffefe;
    box-shadow: 0 5px 10px #090808;
    align-items: center;
    display: flex;
    z-index: 5;

}
.main .underheader .tap {
    font-size: large;
    color: #fffefe;
    display: block;
    border-width: 5px;
    border-color: #fffefe;
    margin: 5px 5px 5px 5px;
}
.undent{
    display: flex;
    width: 90%;
    max-width: 100%;
    margin: auto;
    flex-wrap: wrap;

}
.content {
    justify-content: center;
    align-items: center;
    color: Red;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 20px;
}
.cl1 {
    padding-top: 15px;
    padding-bottom: 15px;
    flex: 1 1 100px; text-align: center;
    flex-basis:400px;
}
.cl2{
    padding-top: 15px;
    padding-bottom: 15px;
    flex: 1 1 100px; text-align: center;
    flex-basis:400px; flex-grow: 3;
}
.cl3{
    padding-top: 15px;
    padding-bottom: 15px;
    flex: 1 1 100px; text-align: center;
    flex-basis:400px;
}
.card .card-body .itm {
    display: flex;
    margin: 2%;
    height: auto;
    color: #000000;
    border-color: aliceblue;
    border-bottom: 1px solid white;
}
.col {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
}


.col .row-cols-1 {
    width: 10px;
}

.card {
    min-height: 200px;
    height: 100%;
    z-index: 1;
}

.card-body {
    color: #ffffff;
    position: static;
    z-index: 1;
}


.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 20px;
}

.information .col{
    display: flex;
    font-size: 1em;
    justify-content: center;
}
.information .col .tap{
    padding: 20px;
    color: white;
}
footer{
    padding-top: 35px;
}

.bov{
    color: white;
    background: #1f1f1f;
}
.fab{
    font-size: 2em;
    padding: 6px;
}
.fa-vk{
    color: #597da3;
}
.fa-instagram{
    color: #b1ab4d;
}
.fa-youtube{
    color: #c4302b;
}
.fa-twitter{
    color: #00acee;
}
.fa-facebook{
    color: #3b5998;
}
.fab:hover{
    color: gray;
}
.last-section{
    text-align: center;
}
/*# sourceMappingURL=style.css.map */
