<footer class="bov">
        <div class="container">
            <div class="row padding text-center">
                <div class="information">
                    <div class="inf-for-user">
                        <h3>Информация пользователю</h3>
                    </div>
                    <div class="col">
                        <a href="#">
                            <div class="tap">Источники</div>
                        </a>
                        <a href="#">
                            <div class="tap">Справка</div>
                        </a>
                        <a href="#">
                            <div class="tap">О нас</div>
                        </a>
                        <a href="#">
                            <div class="tap">Контакты</div>
                        </a>
                    </div>
                </div>
                <div class="contacts">
                    <a href="#"><i class="fab fa-vk"> </i></a>
                    <a href="#"><i class="fab fa-instagram"> </i></a>
                    <a href="#"><i class="fab fa-youtube"> </i></a>
                    <a href="#"><i class="fab fa-twitter"> </i></a>
                    <a href="#"><i class="fab fa-facebook"> </i></a>
                </div>
            </div>
            <div class="last-section">
                © 2021 ConfigPC. Все права защищены.
            </div>
        </div>

    </footer>