
.main {
    margin: auto;
    background-attachment: fixed;
    background-image: url("https://img1.goodfon.ru/wallpaper/nbig/c/ed/background-triangles-black.jpg");
    /*background-image: -moz-linear-gradient(bottom,  rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 100%),url("https://artline.ua/storage/images/editor/editor_1599143277632562_0.png"); !* FF3.6-15 *!*/
    /*background-image: -webkit-linear-gradient(bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.5) 100%),url("https://artline.ua/storage/images/editor/editor_1599143277632562_0.png"); !* Chrome10-25,Safari5.1-6 *!*/
    /*background-image: linear-gradient(to top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.5) 100%),url("https://artline.ua/storage/images/editor/editor_1599143277632562_0.png"); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ), progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://artline.ua/storage/images/editor/editor_1599143277632562_0.png'); !* IE6-9 *!*/
}

.dws-menu * {
    margin: 0;
    padding: 0;
}

.dws-menu ul,
.dws-menu ol {
    list-style: none;
}

.dws-menu > ul {
    display: flex;
    justify-content: center;
}

/*.form-check-input{*/
/*    opacity: 0;*/
/*    width: 1em;*/
/*    height: 1em;*/
/*}*/

.dws-menu [type="checkbox"] {
    display: none;
}

.form-check [type="checkbox"] {
    display: list-item;
}

.dws-menu label.toggleMenu {
    background: -moz-linear-gradient(top, rgb(52, 52, 52) 0%, rgb(40, 40, 40) 2%, rgb(22, 22, 22) 98%, rgba(22, 22, 22, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(52, 52, 52, 1) 0%, rgb(40, 40, 40) 2%, rgb(22, 22, 22) 98%, rgba(22, 22, 22, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(52, 52, 52, 1) 0%, rgb(40, 40, 40) 2%, rgb(22, 22, 22) 98%, rgba(22, 22, 22, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9c9c9', endColorstr='#757577', GradientType=0); /* IE6-9 */

    display: none;
    padding: 15px 40px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    position: relative;
}
/*.dws-menu ul div{*/
/*    position: absolute;*/
/*    min-width: 150px;*/
/*    display: none;*/
/*}*/




.dws-menu label.toggleMenu .fa {
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 18px;
}

@media all {
    .dws-menu {
        overflow: hidden;
    }

    .dws-menu ul {
        display: none;
        max-height: 0;
        transition: max-height 2s;
    }

    .dws-menu li > ul li ul {
        position: absolute;
        right: auto;
        top: auto;
    }

    .dws-menu label.toggleMenu {
        display: block;
    }
    input.toggleMenu:checked + label.toggleMenu {
        display: block;
    }


    input.toggleMenu:checked + label.toggleMenu {
        background: #161616;
        color: #02ca58;
        box-shadow: 0 0 10px 0 #02ca58 inset, 0 0 20px 2px #02ca58;
        border: 3px solid #02ca58;
    }

    input.toggleMenu:checked ~ ul,
    input.toggleSubmenu:checked ~ ul,
    input.toggleMenu:checked ~ div{
        display: block;
        position: relative;
        max-height: 5000px;
        transition: max-height 2s ease-in;
    }

    .dws-menu label.toggleSubmenu {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: block;
    }

}


.slidecontainer {
    width: 50%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 15px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}


.main .container {
    width: 90%;
    max-width: 100%;
    margin: auto;
}

.nav {
    background: #1f1f1f;
    color: #fffefe;
    box-shadow: 0 5px 10px #090808;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav .undent .site_logo {
    margin-right: auto;
    align-items: center;
}

.nav .infos {
    display: flex;
    margin-left: auto;
    align-items: center;

}

.header-info {
    padding: 17px;
}

.nav .logo {
    display: block;
    width: 250px;
    height: auto;
    margin: 20px 20px 20px 20px;
}

.for_slogan {
    align-items: center;
    margin: auto;
}

.nav .for_slogan .slogan {
    font-family: 'Times New Roman', Times, serif; /* Шрифт с засечками */
    font-style: italic; /* Курсивное начертание */
    font-size: xx-large;
    opacity: 20%;
}

.underheader {
    color: #fffefe;
    box-shadow: 0 5px 10px #090808;
    align-items: center;
    display: flex;
    z-index: 5;

}

.main .underheader .tap {
    font-size: large;
    color: #fffefe;
    display: block;
    border-width: 5px;
    border-color: #fffefe;
    margin: 5px 5px 5px 5px;
}

.undent {
    display: flex;
    width: 90%;
    max-width: 100%;
    margin: auto;
    flex-wrap: wrap;

}

.content {
    display: flex;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    color: #02ca58;
}

.text-type {
    width: 60%;
}

.photo-block {
    width: 500px;
}

.input-block {
    color: #ffffff;
    background: #1f1f1f;
    border: 1px solid white;
}

.configs {
    width: 80%;
    margin: auto;
}

.col {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
}


.col .row-cols-1 {
    width: 10px;
}

.card {
    min-height: 300px;
    height: 100%;
    z-index: 1;
}

.card-body {
    color: #ffffff;
    position: static;
    z-index: 1;
}

.card:hover {
    background: #3e3e3e;
    box-shadow: 0 0 10px 0 #02ca58 inset, 0 0 20px 2px #02ca58;
    border: 3px solid #02ca58;
}

.card:active {

    box-shadow: 0 0 50px 0 #02ca58 inset, 0 0 50px 2px #02ca58;
    border: 3px solid #02ca58;
}

input[type=number] {
    color: #17a2b8;
    background: none;
    border: none;
    border-bottom: 2px solid #02ca58;
}

input[type=number]:focus {
    outline: none;
}

input[type=text]:focus {
    outline: none;
}

.intext {
    width: 80%;
    margin: auto;
    padding-bottom: 30px;
}

input[type=text] {
    width: 100%;

    color: #17a2b8;
    background: none;
    border: none;
    border-bottom: 2px solid #02ca58;
}

.typepc {
    display: none;
}

.endbtn {
    width: 20%;
    margin: auto;
    padding-bottom: 40px;
}

.button-end {
    text-align: center;
    background-color: transparent;
    border: 3px solid #02ca58;
    color: #02ca58;
    transition: .3s;
}

.button-end:hover {
    animation: pulse 1s infinite;
    transition: .3s;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(.9);
    }
    100% {
        transform: scale(1);
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.information .col {
    display: flex;
    font-size: 1em;
    justify-content: center;
}

.information .col .tap {
    padding: 20px;
    color: #ffffff;
}

footer {
    padding-top: 35px;
}

.bov {
    color: white;
    background: #1f1f1f;
}

.fab {
    font-size: 2em;
    padding: 6px;
}

.fa-vk {
    color: #597da3;
}

.fa-instagram {
    color: #b1ab4d;
}

.fa-youtube {
    color: #c4302b;
}

.fa-twitter {
    color: #00acee;
}

.fa-facebook {
    color: #3b5998;
}

.fab:hover {
    color: gray;
}

.last-section {
    text-align: center;
}

/*# sourceMappingURL=style.css.map */
