.main {
    margin: auto;
    background-image: url("https://img.wallpapersafari.com/desktop/1920/1080/22/44/Fx8GV2.jpg");
    background-attachment: fixed;
}
.patch {
    margin-bottom: 24px;
    margin-left: 24px;
    box-shadow: 0 8px 24px rgb(0 0 0);
    border-radius: 11px;
    padding: 16px 12px;
    min-height: 90px;
    width: 350px;
    height: auto;
}

.main .container {
    width: 90%;
    max-width: 100%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.nav {
    background: #1f1f1f;
    color: #fffefe;
    box-shadow: 0 5px 10px #090808;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav .undent .site_logo {
    margin-right: auto;
    align-items: center;
}
.nav .infos {
    display: flex;
    margin-left: auto;
    align-items: center;

}
.header-info{
    padding: 17px;
}
.nav .logo {
    display: block;
    width: 250px;
    height: auto;
    margin: 20px 20px 20px 20px;
}

.for_slogan {
    align-items: center;
    margin: auto;
}

.nav .for_slogan .slogan {
    font-family: 'Times New Roman', Times, serif; /* Шрифт с засечками */
    font-style: italic; /* Курсивное начертание */
    font-size: xx-large;
    opacity: 20%;
}

.underheader {
    color: #fffefe;
    box-shadow: 0 5px 10px #090808;
    align-items: center;
    display: flex;
    z-index: 5;

}
.main .underheader .tap {
    font-size: large;
    color: #fffefe;
    display: block;
    border-width: 5px;
    border-color: #fffefe;
    margin: 5px 5px 5px 5px;
}
.undent{
    display: flex;
    width: 90%;
    max-width: 100%;
    margin: auto;
    flex-wrap: wrap;

}
.content {
    display: flex;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    color: #02ca58;
}
.text-type{
    width: 60%;
}



.input-block{
    color: #ffffff;
    background:  #161616;

    height: auto;
}

.characteristics-block{
    color: #ffffff;
    background:  #161616;
    height: auto;
}

.card {
    min-height: 300px;
    height: 100%;
    z-index: 1;
}

.card-body {
    color: #ffffff;
    position: static;
    z-index: 1;
}
.ph-block{
    max-width: 350px;
    width: 350px;
    flex-basis: 350px;
    /*max-height: 350px;*/
    height: auto;
    margin: 50px;
    flex-grow: 2;
}


@media all and (max-width: 886px){
    .input-block{
        flex-wrap:wrap;
    }
    .patch{
        margin: auto;
        margin-bottom: 24px;
        box-shadow: 0 8px 24px rgb(0 0 0);
        border-radius: 11px;
        padding: 16px 12px;
        min-height: 90px;
        width: 400px;
        height: auto;
    }
    .ph-block{
        margin: auto;
        max-width: 500px;
        flex-basis: auto;
    }
    .text-block .tittle{
        margin-top: 25px;
        margin-bottom: 25px;
        margin-right: 25px;
        margin-left: 25px;
    }
}
.tittle{
    margin-top: 50px; margin-bottom: 50px;margin-right: 50px;
}
.text-block{
    flex: 1 1 100px;
    flex-basis: 40%;
}

.card:hover {
    background: #3e3e3e;
    box-shadow: 0 0 10px 0 #02ca58 inset, 0 0 20px 2px #02ca58;
    border: 3px solid #02ca58;
}

.card:active {

    box-shadow: 0 0 50px 0 #02ca58 inset, 0 0 50px 2px #02ca58;
    border: 3px solid #02ca58;
}

input[type=number] {
    color: #17a2b8;
    background: none;
    border: none;
    border-bottom: 2px solid #02ca58;
}

input[type=number]:focus {
    outline: none;
}
input[type=text]:focus {
    outline: none;
}
.intext{
    width: 80%;
    margin: auto;
    padding-bottom: 30px;
}
input[type=text] {
    width: 100%;

    color: #17a2b8;
    background: none;
    border: none;
    border-bottom: 2px solid #02ca58;
}
.typepc{
    display: none;
}
.endbtn{
    width: 20%;
    margin: auto;
    padding-bottom: 40px;
}
.button-end {
    text-align: center;
    background-color: transparent;
    border: 3px solid #02ca58;
    color: #02ca58;
    transition: .3s;
}
.button-end:hover {
    animation: pulse 1s infinite;
    transition: .3s;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(.9);
    }
    100% {
        transform: scale(1);
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.information .col{
    display: flex;
    font-size: 1em;
    justify-content: center;
}
.information .col .tap{
    padding: 20px;
    color: #ffffff;
}
footer{
    padding-top: 35px;
}
.str{
    display: flex;
    height: auto;
    border-bottom: 1px groove #a4a4a4;
    margin: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
}
.characteristic{
    width: 100%;
}
.name-characteristic{
    margin-right: 25px;
    width: 300px;
    color: #a2a2a2;
}
.characteristics-block{
    margin-top: 50px
}
.characteristics-block  h5{
    margin: 10px; border-bottom: 2px solid #02ca58; padding-bottom: 20px; margin-bottom: 20px;
    padding-left: 20px;

}

.bov{
    color: white;
    background: #1f1f1f;
}
.fab{
    font-size: 2em;
    padding: 6px;
}
.fa-vk{
    color: #597da3;
}
.fa-instagram{
    color: #b1ab4d;
}
.fa-youtube{
    color: #c4302b;
}
.fa-twitter{
    color: #00acee;
}
.fa-facebook{
    color: #3b5998;
}
.fab:hover{
    color: gray;
}
.last-section{
    text-align: center;
}
/*# sourceMappingURL=style.css.map */
