.main {
    margin: auto;
    background: black;
    /*background-image: url("https://img1.goodfon.ru/wallpaper/nbig/c/ed/background-triangles-black.jpg");*/
    background-attachment: fixed;
}

.main .container {
    width: 90%;
    max-width: 100%;
    margin: auto;
}
.active {
    margin: 0 -1% 15px;
    overflow: hidden;
    display: flex;
    align-items: stretch;
}
.active div {
    display: none;
    width: 23%;
    margin: 1%;
    background-image: linear-gradient(135deg, #3c3c3c, #2d2d2d);
    font-size: 60px;
    color: #fff;
    text-align: center;
    height: auto;
    padding: 20px;
}
.active div h1{
    font-size: 18px;
}
.active div p{
    font-size: 13px;
}
.nav {
    background: #1f1f1f;
    color: #fffefe;
    box-shadow: 0 5px 10px #090808;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav .undent .site_logo {
    margin-right: auto;
    align-items: center;
}
.nav .infos {
    display: flex;
    margin-left: auto;
    align-items: center;

}
.header-info{
    padding: 17px;
}
.nav .logo {
    display: block;
    width: 250px;
    height: auto;
    margin: 20px 20px 20px 20px;
}

.for_slogan {
    align-items: center;
    margin: auto;
}

.nav .for_slogan .slogan {
    font-family: 'Times New Roman', Times, serif; /* Шрифт с засечками */
    font-style: italic; /* Курсивное начертание */
    font-size: xx-large;
    opacity: 20%;
}

.underheader {
    color: #fffefe;
    box-shadow: 0 5px 10px #090808;
    align-items: center;
    display: flex;

}
.main .underheader .tap {
    font-size: large;
    color: #fffefe;
    display: block;
    border-width: 5px;
    border-color: #fffefe;
    margin: 5px 5px 5px 5px;
}
.undent{
    display: flex;
    width: 90%;
    max-width: 100%;
    margin: auto;
    flex-wrap: wrap;

}
.content {
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    color: #02ca58;
}
.text-type{
    width: 60%;
}
.photo-block {
    width: 500px;
}

.input-block{
    color: #ffffff;
    background: #161616;
}
.configs{
    width: 80%;
    margin: auto;
}
.col {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
}


.col .row-cols-1 {
    width: 10px;
}

.card {
    min-height: 300px;
    height: 100%;
}
.card-title {
    margin-top: .75rem;
    text-align: center;
    /*border-bottom: 3px solid #02ca58;*/

}
.card-img-top{
    padding: 10px;
}
.card-body {
    color: #ffffff;
    position: static;
}
.card:hover {
    background: #3e3e3e;
    box-shadow: 0 0 10px 0 #02ca58 inset, 0 0 20px 2px #02ca58;
    border: 3px solid #02ca58;
}

.card:active {
    box-shadow: 0 0 50px 0 #02ca58 inset, 0 0 50px 2px #02ca58;
    border: 3px solid #02ca58;
}

input[type=number] {
    color: #17a2b8;
    background: none;
    border: none;
    border-bottom: 2px solid #02ca58;
}

input[type=number]:focus {
    outline: none;
}
input[type=text]:focus {
    outline: none;
}
.intext{
    width: 80%;
    margin: auto;
    padding-bottom: 30px;
}
input[type=text] {
    width: 100%;

    color: #17a2b8;
    background: none;
    border: none;
    border-bottom: 2px solid #02ca58;
}
.typepc{
    display: none;
}
.endbtn{
    width: 200px;
    margin: auto;
    padding-bottom: 40px;
}
.button-end {
    text-align: center;
    background-color: transparent;
    border: 3px solid #02ca58;
    color: #02ca58;
    transition: .3s;
}
.button-end:hover {
    animation: pulse 1s infinite;
    transition: .3s;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(.9);
    }
    100% {
        transform: scale(1);
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.information .col{
    display: flex;
    font-size: 1em;
    justify-content: center;
}
.information .col .tap{
    padding: 20px;
    color: #ffffff;
}
footer{
    padding-top: 35px;
}

.bov{
    color: white;
    background: #1f1f1f;
}
.fab{
    font-size: 2em;
    padding: 6px;
}
.fa-vk{
    color: #597da3;
}
.fa-instagram{
    color: #b1ab4d;
}
.fa-youtube{
    color: #c4302b;
}
.fa-twitter{
    color: #00acee;
}
.fa-facebook{
    color: #3b5998;
}
.fab:hover{
    color: gray;
}
.last-section{
    text-align: center;
}



@media all and (max-width: 994px){
    .content .photo-block{
        display: none;
    }
    .content .text-type{text-align: center;
    }
    .content .text-type .text-header h2{
        font-size: 20px;
    }
    .active{
        flex-direction: column;
        align-items: baseline;
    }
    .active div{
        width: 100%;
    }
    .top-photo{
        margin-bottom: 40px;
    }
    .content{
        top: 40%;
    }

}
/*# sourceMappingURL=style.css.map */
