<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/style_config.css" %}">
    <script src="css/slick/slick/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/slick/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="./css/slick/slick/slick-theme.css"/>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/7635fe0a2f.js" crossorigin="anonymous"></script>

    <title>configuration</title>
    <style> a:hover {
        text-decoration: none;
    }

    .card {
        background: #1f1f1f;
        border: 1px solid white;
    }</style>
</head>


<body>

<div class="main">


    <header class="nav">
        <div class="undent">
            <div class="site_logo">
                <img class="logo"
                     src="https://psv4.userapi.com/c536132/u240890695/docs/d6/58609214581d/logo2.png?extra=bHj_5M-VguyRqLudFT5PBFKBTMqmU9srl7oCrkmxai3YzvTnE0vDynnUbj6lZbZVigdq6jSSeM6c_WAzhbYojr7emlhJ6bd2KJosOGguvQ3zaRukxFEztQtib6lV0KmjECaFAX8i0l09JDp_nWch-co"
                     alt="logo">
            </div>
            <div class="for_slogan"><span class="slogan">Соберем PC для каждого!</span></div>
            <div class="infos">
                <div class="header-info">
                    <a class="uk-link-muted uk-text-small">
            <span class="uk-icon" style="margin-right:2px">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="15" height="15">
                    <path d="M1 11l9 3 3 9 9-21z" fill="#ccc" fill-rule="evenodd"></path>
                </svg>
            </span>
                        <span class="jsCityLabel" title="625000, Тюменская обл, г Тюмень"
                              style="color: white">Тюмень</span>
                    </a>
                </div>
                <div class="header-info">
                    <a href="tel:88002349919" class="header__phone">
                        <img src="https://edelws.ru/local/templates/main/img/icon/phone.svg" alt="">
                        <span class="header__phone-tel" style="color: white">8 800 555-35-35</span>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="underheader bg-dark">
        <div class="undent">
            <a href="#" class="tap">Конфигуратор</a>
            <a href="#" class="tap">Каталог</a>
        </div>
    </div>
    <div class="imgs">
        <div class="slider multiple-items">
            <div>
                <img style="display: block;
    margin-left: auto;
    margin-right: auto; height: 100px; width: auto;
margin-top: 25px;margin-bottom: 25px;"
                     src="https://c.dns-shop.ru/thumb/st4/fit/320/250/73aee4b6ce88fe044106afb3d57aaa2c/5a1664d3ee70341a2f5d04f1dbf64331e1a0a534f9ab1ba029dc5c04ca374816.jpg">
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="cl1">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-head">Список комплектующих</h5>
                        <div class="box">
                            <div class="itm" id='0'>
                                <div class="itmname">
                                    <h6 class="card-title" style="margin: 10px"><a href="{{}}" style="color: #17a2b8">{{Lorem
                                        ipsum dolor sit amet, consectetur
                                        adipisicing elit. Alias aliquid blanditiis cumque dolor, esse ipsam itaque
                                        laborum
                                        libero nobis numquam perferendis quia quod, sed tempore!}}</a></h6>
                                </div>
                                <div class="itmprice">
                                    <h6 class="card-title" style="margin: 10px; color: aliceblue">10000Р</h6>
                                </div>
                            </div>
                            <div class="itm" id='1'>
                                <div class="itmname">
                                    <h6 class="card-title" style="margin: 10px"><a href="{{}}" style="color: #17a2b8">{{Lorem
                                        ipsum dolor sit amet, consectetur
                                        adipisicing elit. Alias aliquid blanditiis cumque dolor, esse ipsam itaque
                                        laborum
                                        libero nobis numquam perferendis quia quod, sed tempore!}}</a></h6>
                                </div>
                                <div class="itmprice">
                                    <h6 class="card-title" style="margin: 10px; color: aliceblue">10000Р</h6>
                                </div>
                            </div>
                            <div class="itm" id='2'>
                                <div class="itmname">
                                    <h6 class="card-title" style="margin: 10px"><a href="{{}}" style="color: #17a2b8">{{Lorem
                                        ipsum dolor sit amet, consectetur
                                        adipisicing elit. Alias aliquid blanditiis cumque dolor, esse ipsam itaque
                                        laborum
                                        libero nobis numquam perferendis quia quod, sed tempore!}}</a></h6>
                                </div>
                                <div class="itmprice">
                                    <h6 class="card-title" style="margin: 10px; color: aliceblue">10000Р</h6>
                                </div>
                            </div>
                        </div>
                        <div class="card-foot">
                        <h5 class="card-total">Тотал</h5>
                            <h5 class="card-price">Р</h5>

                        </div>
                    </div>
                </div>
            </div>

            <div class="cl2">
                <div class="card">
                    <div class="card-body" style="display: flex; flex-direction: column;">
                        <h5 class="card-head">Описание</h5>
                        <h6 style="border-bottom: 1px solid #02ca58; padding-top: 50px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cumque distinctio eaque eius exercitationem illum in inventore itaque laudantium magnam non nostrum odit qui quisquam ratione, reiciendis rerum suscipit voluptate.</h6>
                        <div class="butt-block">
                            <a href="#" class="btn btn-primary" style="width: 200px; background: #0f8d4a; border-color: #1f1f1f;">Редактировать</a>
                            <a href="#" class="btn btn-primary" style="width: 200px ;background: #0f8d4a; border-color: #1f1f1f;" >Скачать</a>
                            <a href="#" class="btn btn-primary" style="width: 200px; background: #0f8d4a; border-color: #1f1f1f;">Копировать ссылку</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="bov">
        <div class="container">
            <div class="row padding text-center">
                <div class="information">
                    <div class="inf-for-user">
                        <h3>Информация пользователю</h3>
                    </div>
                    <div class="col">
                        <a href="#">
                            <div class="tap">Источники</div>
                        </a>
                        <a href="#">
                            <div class="tap">Справка</div>
                        </a>
                        <a href="#">
                            <div class="tap">О нас</div>
                        </a>
                        <a href="#">
                            <div class="tap">Контакты</div>
                        </a>
                    </div>
                </div>
                <div class="contacts">
                    <a href="#"><i class="fab fa-vk"> </i></a>
                    <a href="#"><i class="fab fa-instagram"> </i></a>
                    <a href="#"><i class="fab fa-youtube"> </i></a>
                    <a href="#"><i class="fab fa-twitter"> </i></a>
                    <a href="#"><i class="fab fa-facebook"> </i></a>
                </div>
            </div>
            <div class="last-section">
                © 2021 ConfigPC. Все права защищены.
            </div>
        </div>

    </footer>
</div>

<script src="./css/slick/slick/slick.js" type="text/javascript" charset="utf-8"></script>
<script>

    $(function () {
        $(window).scroll(function () {
            var top = $(document).scrollTop();
            if (top < 95) $(".underheader").css({top: '0', position: 'relative'});
            else $(".underheader").css({
                top: '0',
                left: '0',
                position: 'fixed',
                width: '100%',
                background: 'none repeat scroll 0% 0% rgba(9, 125, 240, 0.7)'
            });
        });
    });

    function DeleteLast() {
        var x = document.getElementsByClassName('itm').length
        var id = x - 1
        document.getElementById(id).style.border = "none";

    }

    $(document).ready(function () {
        DeleteLast();
    });

</script>
<script type="text/javascript">
    $(function () {
        $('.multiple-items').slick({
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: true,
            responsive: [
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 2,
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                    }
                }
            ]
        });
    });
</script>
</body>
</html>