<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style_handled.css?{% now "U" %}"/>

    <script src="css/slick/slick/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/slick/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="./css/slick/slick/slick-theme.css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/7635fe0a2f.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js"></script>
    <title>configuration</title>
    <style> a:hover {
        text-decoration: none;
    }
    .card {
        background: #1f1f1f;
        border: 1px solid white;
    }

    </style>
</head>


<body>

<div class="main">
    {% include "include_blocks/header.html" %}

    <div class="container">
        <div class="content">
            <div class="text-type">
                <div class="text-header"><h2>Ручной режим</h2>
                </div>
                <div class="text-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dignissimos fugit
                    nihil nisi non odio officia sapiente sed voluptas? Ad.
                </div>
            </div>
            <div class="photo-block">
                <img class="img-fluid"
                     src="https://madgear.ru/wa-data/public/shop/products/59/06/659/images/997/997.970.png" alt="">
            </div>
        </div>
        <div class="overall">
            <div class="total-price">
                <div style="font-size: 1rem;"><i class="fas fa-tags fa-x"
                                                 style="color: #02ca58;margin-top: 6px"></i></div>
                <p style="font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12pt; margin-left: 7px">Общая стоимость 1 950 ₽</p>

            </div>
            <div class="tp-mobile">
                <i class="fas fa-tags fa-x"
                   style="color: #02ca58;margin-top: 6px"></i>
                <p style="font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12pt; margin-left: 7px">1 950 ₽</p>
            </div>
            <div class="total-wattage">
                <div style="font-size: 1rem;"><i class="fas fa-bolt fa-x"
                                                 style="color: #02ca58;margin-top: 6px"></i></div>
                <p style="font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12pt; margin-left: 7px">Общее энергопотребление 11W</p>
            </div>
            <div class="tw-mobile">
                <i class="fas fa-bolt fa-x"
                   style="color: #02ca58;margin-top: 6px"></i>
                <p style="font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12pt; margin-left: 7px">11 W</p>
            </div>
            <div class="endbtn"><a href="">
                <div class="btn"
                     style="width: 150px; height: 38px; margin: 10px; background: #0f8d4a; border-color: #1f1f1f;color: white;">
                    Собрать
                </div>
            </a></div>
        </div>
        <div class="row">
            <div class="cl1">
                <div class="card">
                    <div class="card-body">
                        <div class="box">
                            {% if is_cpu %}
                            <div class="itm" id='0'>
                                {% include "svg_images/cpu_green.html" %}
                                <div class="itmname">
                                    <a href="#page-0"><h6 class="card-title" style="margin: 10px; color: white">
                                        Процессор</h6></a>
                                </div>
                            </div>

                            {% else %}
                            <div class="itm" id='0'>
                                {% include "svg_images/cpu_black.html" %}
                                <div class="itmname">
                                    <a href="#page-0"><h6 class="card-title" style="margin: 10px; color: #727272">
                                        Процессор</h6></a>
                                </div>
                            </div>

                            {% endif %}
                            {% if is_motherboard %}
                            <div class="itm" id='1'>
                                {% include "svg_images/mother_green.html" %}
                                <div class="itmname">
                                    <a href="#page-1"><h6 class="card-title" style="margin: 10px; color: white">
                                        Материнская плата </h6></a>
                                </div>
                            </div>

                            {% else %}
                            <div class="itm" id='1'>
                                {% include "svg_images/mother_black.html" %}
                                <div class="itmname">
                                    <a href="#page-1"><h6 class="card-title" style="margin: 10px; color: #727272">
                                        Материнская плата </h6></a>
                                </div>
                            </div>

                            {% endif %}
                            {% if is_gpu %}

                            <div class="itm" id='2'>
                                {% include "svg_images/gpu_green.html" %}
                                <div class="itmname">
                                    <a href="#page-2"><h6 class="card-title" style="margin: 10px; color: white">
                                        Видеокарта </h6></a>
                                </div>
                            </div>
                            {% else %}
                            <div class="itm" id='2'>
                                {% include "svg_images/gpu_black.html" %}
                                <div class="itmname">
                                    <a href="#page-2"><h6 class="card-title" style="margin: 10px; color: #727272">
                                        Видеокарта </h6></a>
                                </div>
                            </div>
                            {% endif %}

                            {% if is_ram %}
                            <div class="itm" id='3'>
                                {% include "svg_images/ram_green.html" %}
                                <div class="itmname">
                                    <a href="#page-3"><h6 class="card-title" style="margin: 10px; color: white">
                                        Оперативная память</h6></a>
                                </div>
                            </div>
                            {% else %}

                            <div class="itm" id='3'>
                                {% include "svg_images/ram_black.html" %}
                                <div class="itmname">
                                    <a href="#page-3"><h6 class="card-title" style="margin: 10px; color: #727272">
                                        Оперативная память</h6></a>
                                </div>
                            </div>
                            {% endif %}
                            {% if is_hard35 %}
                            <div class="itm" id='4'>
                                {% include "svg_images/hard35_green.html" %}
                                <div class="itmname">
                                    <a href="#page-4"><h6 class="card-title" style="margin: 10px; color: white">
                                        HDD </h6></a>
                                </div>
                            </div>
                            {% else %}

                            <div class="itm" id='4'>
                                {% include "svg_images/hard35_black.html" %}
                                <div class="itmname">
                                    <a href="#page-4"><h6 class="card-title" style="margin: 10px; color: #727272">
                                        HDD </h6></a>
                                </div>
                            </div>
                            {% endif %}
                            {% if is_ssd %}

                            <div class="itm" id='5'>
                                {% include "svg_images/ssd_green.html" %}
                                <div class="itmname">
                                    <a href="#page-5"><h6 class="card-title" style="margin: 10px; color: white">
                                        SSD </h6></a>
                                </div>
                            </div>
                            {% else %}


                            <div class="itm" id='5'>
                                {% include "svg_images/ssd_black.html" %}
                                <div class="itmname">
                                    <a href="#page-5"><h6 class="card-title" style="margin: 10px; color: #727272">
                                        SSD </h6></a>
                                </div>
                            </div>
                            {% endif %}
                            {% if is_cooler %}


                            <div class="itm" id='6'>
                                {% include "svg_images/cooler_green.html" %}
                                <div class="itmname">
                                    <a href="#page-6"><h6 class="card-title" style="margin: 10px; color: white">
                                        Кулер
                                        процессора </h6></a>
                                </div>
                            </div>
                            {% else %}


                            <div class="itm" id='6'>
                                {% include "svg_images/cooler_black.html" %}
                                <div class="itmname">
                                    <a href="#page-6"><h6 class="card-title" style="margin: 10px; color: #727272">
                                        Кулер
                                        процессора </h6></a>
                                </div>
                            </div>
                            {% endif %}
                            {% if is_powersupply %}


                            <div class="itm" id='7'>
                                {% include "svg_images/ps_green.html" %}
                                <div class="itmname">
                                    <a href="#page-7"><h6 class="card-title" style="margin: 10px; color: white">Блок
                                        питания</h6></a>
                                </div>
                            </div>
                            {% else %}


                            <div class="itm" id='7'>
                                {% include "svg_images/ps_black.html" %}
                                <div class="itmname">
                                    <a href="#page-7"><h6 class="card-title" style="margin: 10px; color: #727272">
                                        Блок
                                        питания</h6></a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="cl2">
                <div class="card">
                    <div class="card-body" style="display: flex; flex-direction: column;">
                        <scroll-container>
                            <scroll-page id="page-0">
                                {% if not is_cpu %}
                                <div class="component">
                                        <a href="/hand/catalog/Cpu">
                                        <div style="margin: auto">
                                            <div style="width: 100px; margin: auto">
                                                {% include "svg_images/cpu_big.html" %}
                                            </div>
                                            <h6 class="card-title"
                                                style="margin: 10px; color: #727272; text-align: center">
                                                Процессор</h6>
                                        </div>
                                    </a>
                                </div>
                                {% else %}
                                <div class="picked_component">
                                    <div class="title"><h5 style="margin-bottom: 20px;
    padding-left: 20px;">Процессор</h5></div>
                                    <div class="ph-block">
                                        <img src="{{ Cpu.picture }}"
                                             style="width: 100px; height: auto;box-shadow: 0 0 10px 0 #02ca58 inset, 0 0 10px 2px #02ca58;
    border: 3px solid #02ca58;margin: 20px;">
                                    </div>
                                    <div class="text-block">
                                        <a href="/configuration/Cpu/{{Cpu.id}}/"><h6 style="padding: 0 12px 0 12px; color: white">
                                            {{ Cpu.name }}
                                        </h6></a>
                                    </div>
                                    <div class="price-block">
                                        <div style="font-size: 1rem;"><i class="fas fa-tags fa-x"
                                                                         style="color: #02ca58"></i></div>
                                        <p style="font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt; margin-left: 7px">{{ Cpu.price }} ₽</p>
                                    </div>
                                    <div class="remove-block" >

                                        <form action="/hand/configuration/" method="post" style="display:flex">
                                            <div class="invz" style="display: none"><input type="id" name="method"
                                                                                           value="delete"></div>
                                            <div class="invz" style="display: none"><input type="id"
                                                                                           name="component_type"
                                                                                           value="Cpu"></div>
                                            {% csrf_token %}
                                            <button type="submit"
                                                    style="border: none; background: none;width: 150px; height: 38px;">
                                                <div class="svg">
                                                    {% include "svg_images/cross.html" %}
                                                </div>
                                                <div class="but">
                                                    <div class="btn"
                                                         style="width: 150px; height: 38px; margin: 10px; background: #0f8d4a; border-color: #1f1f1f;color: white;position: inherit">
                                                        Удалить
                                                    </div>
                                                </div>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                {% endif %}
                            </scroll-page>
                            <scroll-page id="page-1">

                                {% if not is_motherboard %}
                                <div class="component">
                                    <a href="/hand/catalog/Motherboard">
                                        <div style="margin: auto">
                                            <div style="width: 100px; margin: auto">
                                                {% include "svg_images/mother_big.html" %}
                                            </div>
                                            <h6 class="card-title"
                                                style="margin: 10px; color: #727272; text-align: center">Материнская
                                                плата</h6>
                                        </div>
                                    </a>
                                </div>
                                {% else %}

                                <div class="picked_component">
                                    <div class="title"><h5 style="margin-bottom: 20px;
    padding-left: 20px;">Материнская плата</h5></div>
                                    <div class="ph-block">
                                        <img src="{{ Motherboard.picture }}"
                                             style="width: 100px; height: auto;box-shadow: 0 0 10px 0 #02ca58 inset, 0 0 10px 2px #02ca58;
    border: 3px solid #02ca58;margin: 20px;">
                                    </div>
                                    <div class="text-block">
                                        <a href="/configuration/Motherboard/{{Motherboard.id}}/"><h6 style="padding: 0 12px 0 12px; color: white">{{ Motherboard.name }}</h6></a>
                                    </div>
                                    <div class="price-block">
                                        <div style="font-size: 1rem;"><i class="fas fa-tags fa-x"
                                                                         style="color: #02ca58"></i></div>
                                        <p style="font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt; margin-left: 7px">{{ Motherboard.price }} ₽</p>
                                    </div>
                                    <div class="remove-block" >

                                        <form action="/hand/configuration/" method="post" style="display:flex">
                                            <div class="invz" style="display: none"><input type="id" name="method"
                                                                                           value="delete"></div>
                                            <div class="invz" style="display: none"><input type="id"
                                                                                           name="component_type"
                                                                                           value="Motherboard"></div>
                                            {% csrf_token %}
                                            <button type="submit"
                                                    style="border: none; background: none;width: 150px; height: 38px;">
                                                <div class="svg">
                                                    {% include "svg_images/cross.html" %}
                                                </div>
                                                <div class="but">
                                                    <div class="btn"
                                                         style="width: 150px; height: 38px; margin: 10px; background: #0f8d4a; border-color: #1f1f1f;color: white;position: inherit">
                                                        Удалить
                                                    </div>
                                                </div>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                {% endif %}
                            </scroll-page>
                            <scroll-page id="page-2">
                                {% if not is_gpu %}
                                <div class="component">
                                    <a href="/hand/catalog/Gpu">
                                        <div style="margin: auto">
                                            <div style="width: 100px; margin: auto">
                                                {% include "svg_images/gpu_big.html" %}
                                            </div>
                                            <h6 class="card-title"
                                                style="margin: 10px; color: #727272; text-align: center">
                                                Видеокарта</h6>
                                        </div>
                                    </a>
                                </div>
                                {% else %}
                                <div class="picked_component">
                                    <div class="title"><h5 style="margin-bottom: 20px;
                                    padding-left: 20px;">Видеокарта</h5></div>
                                    <div class="ph-block">
                                        <img src="{{ Gpu.picture }}"
                                             style="width: 100px; height: auto;box-shadow: 0 0 10px 0 #02ca58 inset, 0 0 10px 2px #02ca58;
                                    border: 3px solid #02ca58;margin: 20px;">
                                    </div>
                                    <div class="text-block">
                                        <a href="/configuration/Gpu/{{Gpu.id}}/"><h6 style="padding: 0 12px 0 12px; color: white"> {{ Gpu.name }}</h6>
                                        </a>
                                    </div>
                                    <div class="price-block">
                                        <div style="font-size: 1rem;"><i class="fas fa-tags fa-x"
                                                                         style="color: #02ca58"></i></div>
                                        <p style="font-family: Verdana, Arial, Helvetica, sans-serif;
                                    font-size: 10pt; margin-left: 7px">{{ Gpu.price }} ₽</p>
                                    </div>
                                    <div class="remove-block" >

                                        <form action="/hand/configuration/" method="post" style="display:flex">
                                            <div class="invz" style="display: none"><input type="id" name="method"
                                                                                           value="delete"></div>
                                            <div class="invz" style="display: none"><input type="id"
                                                                                           name="component_type"
                                                                                           value="Gpu"></div>
                                            {% csrf_token %}
                                            <button type="submit"
                                                    style="border: none; background: none;width: 150px; height: 38px;">
                                                <div class="svg">
                                                    {% include "svg_images/cross.html" %}
                                                </div>
                                                <div class="but">
                                                    <div class="btn"
                                                         style="width: 150px; height: 38px; margin: 10px; background: #0f8d4a; border-color: #1f1f1f;color: white;position: inherit">
                                                        Удалить
                                                    </div>
                                                </div>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                {% endif %}
                            </scroll-page>
                            <scroll-page id="page-3">
                                {% if not is_ram %}
                                <div class="component">
                                        <a href="/hand/catalog/Ram">
                                        <div style="margin: auto">
                                            <div style="width: 100px; margin: auto">
                                                {% include "svg_images/ram_big.html" %}
                                            </div>
                                            <h6 class="card-title"
                                                style="margin: 10px; color: #727272; text-align: center">Оперативная
                                                память</h6>
                                        </div>
                                    </a>
                                </div>
                                {% else %}
                                <div class="picked_component">
                                    <div class="title"><h5 style="margin-bottom: 20px;
                                    padding-left: 20px;">Оперативная память</h5></div>
                                    <div class="ph-block">
                                        <img src="{{ Ram.picture }}"
                                             style="width: 100px; height: auto;box-shadow: 0 0 10px 0 #02ca58 inset, 0 0 10px 2px #02ca58;
                                    border: 3px solid #02ca58;margin: 20px;">
                                    </div>
                                    <div class="text-block">
                                        <a href="/configuration/Ram/{{Ram.id}}/"><h6 style="padding: 0 12px 0 12px; color: white">
                                            {{ Ram.name }}
                                        </h6></a>
                                    </div>
                                    <div class="price-block">
                                        <div style="font-size: 1rem;"><i class="fas fa-tags fa-x"
                                                                         style="color: #02ca58"></i></div>
                                        <p style="font-family: Verdana, Arial, Helvetica, sans-serif;
                                    font-size: 10pt; margin-left: 7px">{{ Ram.price }} ₽</p>
                                    </div>
                                    <div class="remove-block" >

                                        <form action="/hand/configuration/" method="post" style="display:flex">
                                            <div class="invz" style="display: none"><input type="id" name="method"
                                                                                           value="delete"></div>
                                            <div class="invz" style="display: none"><input type="id"
                                                                                           name="component_type"
                                                                                           value="Ram"></div>
                                            {% csrf_token %}
                                            <button type="submit"
                                                    style="border: none; background: none;width: 150px; height: 38px;">
                                                <div class="svg">
                                                    {% include "svg_images/cross.html" %}
                                                </div>
                                                <div class="but">
                                                    <div class="btn"
                                                         style="width: 150px; height: 38px; margin: 10px; background: #0f8d4a; border-color: #1f1f1f;color: white;position: inherit">
                                                        Удалить
                                                    </div>
                                                </div>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                {% endif %}
                            </scroll-page>
                            <scroll-page id="page-4">
                                {% if not is_hard35 %}
                                <div class="component">
                                        <a href="/hand/catalog/Hard35">
                                        <div style="margin: auto">
                                            <div style="width: 100px; margin: auto">
                                                {% include "svg_images/hard35_big.html" %}
                                            </div>
                                            <h6 class="card-title"
                                                style="margin: 10px; color: #727272; text-align: center">Жесткий
                                                диск</h6>
                                        </div>
                                    </a>
                                </div>
                                {% else %}
                                <div class="picked_component">
                                    <div class="title"><h5 style="margin-bottom: 20px;
                                    padding-left: 20px;">Жесткий диск</h5></div>
                                    <div class="ph-block">
                                        <img src="{{ Hard35.picture }}"
                                             style="width: 100px; height: auto;box-shadow: 0 0 10px 0 #02ca58 inset, 0 0 10px 2px #02ca58;
                                    border: 3px solid #02ca58;margin: 20px;">
                                    </div>
                                    <div class="text-block">
                                        <a href="/configuration/Hard35/{{Hard35.id}}/"><h6 style="padding: 0 12px 0 12px; color: white">
                                            {{ Hard35.name }}
                                        </h6></a>
                                    </div>
                                    <div class="price-block">
                                        <div style="font-size: 1rem;"><i class="fas fa-tags fa-x"
                                                                         style="color: #02ca58"></i></div>
                                        <p style="font-family: Verdana, Arial, Helvetica, sans-serif;
                                    font-size: 10pt; margin-left: 7px">{{ Hard35.price }} ₽</p>
                                    </div>
                                    <div class="remove-block" >

                                        <form action="/hand/configuration/" method="post" style="display:flex">
                                            <div class="invz" style="display: none"><input type="id" name="method"
                                                                                           value="delete"></div>
                                            <div class="invz" style="display: none"><input type="id"
                                                                                           name="component_type"
                                                                                           value="Hard35"></div>
                                            {% csrf_token %}
                                            <button type="submit"
                                                    style="border: none; background: none;width: 150px; height: 38px;">
                                                <div class="svg">
                                                    {% include "svg_images/cross.html" %}
                                                </div>
                                                <div class="but">
                                                    <div class="btn"
                                                         style="width: 150px; height: 38px; margin: 10px; background: #0f8d4a; border-color: #1f1f1f;color: white;position: inherit">
                                                        Удалить
                                                    </div>
                                                </div>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                {% endif %}
                            </scroll-page>
                            <scroll-page id="page-5">
                                {% if not is_ssd %}
                                <div class="component">
                                        <a href="/hand/catalog/Ssd">
                                        <div style="margin: auto">
                                            <div style="width: 100px; margin: auto">
                                                {% include "svg_images/ssd_big.html" %}
                                            </div>
                                            <h6 class="card-title"
                                                style="margin: 10px; color: #727272; text-align: center">
                                                Твердотельный
                                                накопитель</h6>
                                        </div>
                                    </a>
                                </div>
                                {% else %}
                                <div class="picked_component">
                                    <div class="title"><h5 style="margin-bottom: 20px;
                                    padding-left: 20px;">Твердотельный накопитель</h5></div>
                                    <div class="ph-block">
                                        <img src="{{ Ssd.picture }}"
                                             style="width: 100px; height: auto;box-shadow: 0 0 10px 0 #02ca58 inset, 0 0 10px 2px #02ca58;
                                    border: 3px solid #02ca58;margin: 20px;">
                                    </div>
                                    <div class="text-block">
                                        <a href="/configuration/Ssd/{{Ssd.id}}/"><h6 style="padding: 0 12px 0 12px; color: white">
                                            {{ Ssd.name }}
                                        </h6></a>
                                    </div>
                                    <div class="price-block">
                                        <div style="font-size: 1rem;"><i class="fas fa-tags fa-x"
                                                                         style="color: #02ca58"></i></div>
                                        <p style="font-family: Verdana, Arial, Helvetica, sans-serif;
                                    font-size: 10pt; margin-left: 7px">{{ Ssd.price }} ₽</p>
                                    </div>

                                    <div class="remove-block" >

                                        <form action="/hand/configuration/" method="post" style="display:flex">
                                            <div class="invz" style="display: none"><input type="id" name="method"
                                                                                           value="delete"></div>
                                            <div class="invz" style="display: none"><input type="id"
                                                                                           name="component_type"
                                                                                           value="Ssd"></div>
                                            {% csrf_token %}
                                            <button type="submit"
                                                    style="border: none; background: none;width: 150px; height: 38px;">
                                                <div class="svg">
                                                    {% include "svg_images/cross.html" %}
                                                </div>
                                                <div class="but">
                                                    <div class="btn"
                                                         style="width: 150px; height: 38px; margin: 10px; background: #0f8d4a; border-color: #1f1f1f;color: white;position: inherit">
                                                        Удалить
                                                    </div>
                                                </div>
                                            </button>
                                        </form>
                                    </div>

                                </div>
                                {% endif %}
                            </scroll-page>
                            <scroll-page id="page-6">
                                {% if not is_cooler %}
                                <div class="component">
                                        <a href="/hand/catalog/Cooler">
                                        <div style="margin: auto">
                                            <div style="width: 100px; margin: auto">
                                                {% include "svg_images/cooler_big.html" %}
                                            </div>
                                            <h6 class="card-title"
                                                style="margin: 10px; color: #727272; text-align: center">Кулер
                                                процессора</h6>
                                        </div>
                                    </a>
                                </div>
                                {% else %}
                                <div class="picked_component">
                                    <div class="title"><h5 style="margin-bottom: 20px;
                                    padding-left: 20px;">Кулер процессора</h5></div>
                                    <div class="ph-block">
                                        <img src="{{ Cooler.picture }}"
                                             style="width: 100px; height: auto;box-shadow: 0 0 10px 0 #02ca58 inset, 0 0 10px 2px #02ca58;
                                    border: 3px solid #02ca58;margin: 20px;">
                                    </div>
                                    <div class="text-block">
                                        <a href="/configuration/Cooler/{{Cooler.id}}/"><h6 style="padding: 0 12px 0 12px; color: white">
                                            {{ Cooler.name }}
                                        </h6></a>
                                    </div>
                                    <div class="price-block">
                                        <div style="font-size: 1rem;"><i class="fas fa-tags fa-x"
                                                                         style="color: #02ca58"></i></div>
                                        <p style="font-family: Verdana, Arial, Helvetica, sans-serif;
                                    font-size: 10pt; margin-left: 7px">{{ Cooler.price }} ₽</p>
                                    </div>
                                    <div class="remove-block" >

                                        <form action="/hand/configuration/" method="post" style="display:flex">
                                            <div class="invz" style="display: none"><input type="id" name="method"
                                                                                           value="delete"></div>
                                            <div class="invz" style="display: none"><input type="id"
                                                                                           name="component_type"
                                                                                           value="Cooler"></div>
                                            {% csrf_token %}
                                            <button type="submit"
                                                    style="border: none; background: none;width: 150px; height: 38px;">
                                                <div class="svg">
                                                    {% include "svg_images/cross.html" %}
                                                </div>
                                                <div class="but">
                                                    <div class="btn"
                                                         style="width: 150px; height: 38px; margin: 10px; background: #0f8d4a; border-color: #1f1f1f;color: white;position: inherit">
                                                        Удалить
                                                    </div>
                                                </div>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                {% endif %}

                            </scroll-page>
                            <scroll-page id="page-7">
                                {% if not is_powersupply %}
                                <div class="component">
                                        <a href="/hand/catalog/PowerSupply">
                                        <div style="margin: auto">
                                            <div style="width: 100px; margin: auto">
                                                {% include "svg_images/ps_big.html" %}
                                            </div>
                                            <h6 class="card-title"
                                                style="margin: 10px; color: #727272; text-align: center">Блок
                                                питания</h6>
                                        </div>
                                    </a>
                                </div>
                                {% else %}
                                <div class="picked_component">
                                    <div class="title"><h5 style="margin-bottom: 20px;
                                    padding-left: 20px;">Блок питания</h5></div>
                                    <div class="ph-block">
                                        <img src="{{ PowerSupply.picture }}"
                                             style="width: 100px; height: auto;box-shadow: 0 0 10px 0 #02ca58 inset, 0 0 10px 2px #02ca58;
                                    border: 3px solid #02ca58;margin: 20px;">
                                    </div>
                                    <div class="text-block">
                                        <a href="/configuration/PowerSupply/{{PowerSupply.id}}/"><h6 style="padding: 0 12px 0 12px; color: white">
                                            {{ PowerSupply.name }}
                                        </h6></a>
                                    </div>
                                    <div class="price-block">
                                        <div style="font-size: 1rem;"><i class="fas fa-tags fa-x"
                                                                         style="color: #02ca58"></i></div>
                                        <p style="font-family: Verdana, Arial, Helvetica, sans-serif;
                                    font-size: 10pt; margin-left: 7px">{{ PowerSupply.price }} ₽</p>
                                    </div>
                                    <div class="remove-block" >

                                        <form action="/hand/configuration/" method="post" style="display:flex">
                                            <div class="invz" style="display: none"><input type="id" name="method"
                                                                                           value="delete"></div>
                                            <div class="invz" style="display: none"><input type="id"
                                                                                           name="component_type"
                                                                                           value="PowerSupply"></div>
                                            {% csrf_token %}
                                            <button type="submit"
                                                    style="border: none; background: none;width: 150px; height: 38px;">
                                                <div class="svg">
                                                    {% include "svg_images/cross.html" %}
                                                </div>
                                                <div class="but">
                                                    <div class="btn"
                                                         style="width: 150px; height: 38px; margin: 10px; background: #0f8d4a; border-color: #1f1f1f;color: white;position: inherit">
                                                        Удалить
                                                    </div>
                                                </div>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                {% endif %}
                            </scroll-page>
                        </scroll-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="bov">
        <div class="container">
            <div class="row padding text-center">
                <div class="information">
                    <div class="inf-for-user">
                        <h3>Информация пользователю</h3>
                    </div>
                    <div class="col">
                        <a href="#">
                            <div class="tap">Источники</div>
                        </a>
                        <a href="#">
                            <div class="tap">Справка</div>
                        </a>
                        <a href="#">
                            <div class="tap">О нас</div>
                        </a>
                        <a href="#">
                            <div class="tap">Контакты</div>
                        </a>
                    </div>
                </div>
                <div class="contacts">
                    <a href="#"><i class="fab fa-vk"> </i></a>
                    <a href="#"><i class="fab fa-instagram"> </i></a>
                    <a href="#"><i class="fab fa-youtube"> </i></a>
                    <a href="#"><i class="fab fa-twitter"> </i></a>
                    <a href="#"><i class="fab fa-facebook"> </i></a>
                </div>
            </div>
            <div class="last-section">
                © 2021 ConfigPC. Все права защищены.
            </div>
        </div>

    </footer>
</div>

<script src="./css/slick/slick/slick.js" type="text/javascript" charset="utf-8"></script>
<script>

    $(function () {
        $(window).scroll(function () {
            var top = $(document).scrollTop();
            if (top < 95) $(".underheader").css({top: '0', position: 'relative'});
            else $(".underheader").css({
                top: '0',
                left: '0',
                position: 'fixed',
                width: '100%',
                background: 'none repeat scroll 0% 0% rgba(9, 125, 240, 0.7)'
            });
        });
    });

    function DeleteLast() {
        var x = document.getElementsByClassName('itm').length
        var id = x - 1
        document.getElementById(id).style.border = "none";

    }

    $(document).ready(function () {
        DeleteLast();
    });




</script>
<script type="text/javascript">
    $(function () {
        $('.multiple-items').slick({
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: true,
            responsive: [
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 2,
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                    }
                }
            ]
        });
    });




</script>
</body>
</html>